.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

.containerForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 330px;
    height: 330px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2)
}

.containerFormCadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 350px;
    height: 425px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2)
}

.logo{
    margin: 10px
}

label{
    font-size: 18px;
}

input{
    border: 1px solid #000 ;
    border-radius: 3px;
    width: 200px;   
    margin-top: 5px;
    padding: 5px
}

.containerButton{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}

.styleButton{
    width: 100px;
    height: 30px;

    background: #01DFD7;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold
}

.styleButton:hover{
    background: #088A85;
    color: #fff;
    border: none
}

.createUser{
    text-decoration: none;
    color: #96CC7F;
    transition: 0.1s;
    font-weight: bold
}
.createUser:hover{
    color: #0B6121
}